.card,.store{
    position:relative;
  }
  .card-overlay,.store-overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
     
      background:gray; 
      cursor: pointer;
  
    }
    
  
  /* .card:hover .card-overlay ,.store:hover,.store-overlay{
      opacity: .3;
      transition:  all .2s ease-in-out;
      transform: scale(1.1);
    } */
  
  
    /* block3 causal-  block4 causal */
    .blog .carousel-indicators li {
      background: #708198;
      border-radius: 50%;
      width: 8px;
      height: 8px;
  }
  
  .blog .carousel-indicators .active {
      background: rgb(219, 153, 91);
  }
  
  .item-carousel-blog-block {
      outline: medium none;
      padding: 15px;
  }
  
  .item-box-blog {
      text-align: center;
      z-index: 4;
      padding: 5px;
  }
  
  .item-box-blog:hover {
      box-shadow: 5px 5px 10px gray, gray -5px -5px 8px;
  }
  
  .item-box-blog-image {
      position: relative;
  }
  
  .item-box-blog-image figure img {
      width: 100%;

  }
  
  .item-box-blog-date {
      position: absolute;
      z-index: 5;
      padding: 4px 20px;
      top: -20px;
      right: 8px;
      background-color: #41cb52;
  }
  
  .item-box-blog-date span {
      color: #fff;
      display: block;
      text-align: center;
      line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
      font-size: 14px;
  }
  
  .item-box-blog-date span.day {
      font-size: 13px;
  }
  
  .item-box-blog-body {
      padding: 5px;
  }

  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
      font-size: 13px;
  }
  
  .item-box-blog-data p i {
      font-size: 10px;
  }
  
  .item-box-blog-text {
      max-height: 100px;
      overflow: hidden;
  }
  
  /* filter
  a{color: black;}
      a:hover{background-color: gainsboro;
      color: black;}
   */
      /* scroll */
      .ni{
          max-height: 220px;
          overflow-y: auto;
      }
  
  