.cta-100 {
    margin-top: 100px;
    padding-left: 8%;
    padding-top: 7%;
}

.white {
    color: #fff !important;
}

.mt {
    float: left;
    margin-top: -20px;
    padding-top: 20px;
}

.bg-blue-ui {
    background-color: rgb(219, 153, 91) !important;
    margin-top: 2px;
}

.blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: rgb(219, 153, 91);
}

.item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
}

.item-box-blog {
    text-align: center;
    z-index: 4;
    padding: 15px;
}

.item-box-blog:hover {
    box-shadow: 5px 5px 10px gray, gray -5px -5px 8px;
}

.item-box-blog-image {
    position: relative;
}

.item-box-blog-image figure img {
    width: 100%;
    height: auto
}

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}

.item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.item-box-blog-date span.mon {
    font-size: 18px;
}

.item-box-blog-date span.day {
    font-size: 16px;
}

.item-box-blog-body {
    padding: 5px;
}

.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration: none;
    transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
    font-size: 13px;
}

.item-box-blog-data p i {
    font-size: 12px;
}

.item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
}

.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
}

body {
    background-color: rgb(231, 228, 228);
}

nav a {
    color: rgba(0, 0, 0, .7);
}
